In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("~\Desktop\JOTFORM\Summer2023\Anomaly-Detection\data\clustered_data.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185186 entries, 0 to 4185185
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   date             object
 2   keyword          object
 3   keyword_sum      int64
 4   Cluster_Keyword  object
dtypes: int64(2), object(3)
memory usage: 159.7+ MB

In [4]:
data.head()

,Unnamed: 0,date,keyword,keyword_sum,Cluster_Keyword
0,0,2023-01-01,scout cookie,5,fashion
1,1,2023-01-01,payment method,365,finance
2,2,2023-01-01,sum,26,finance
3,3,2023-01-01,describes medical,5,beauty & personal care
4,4,2023-01-01,cords,9,telecommunications

In [5]:
grouped_df = data.groupby(['date', 'Cluster_Keyword']).agg({'keyword_sum': 'sum'}).reset_index()

In [6]:
grouped_df.head()

         date                       Cluster_Keyword  keyword_sum
0  2023-01-01                         accommodation        18571
1  2023-01-01     advertising, marketing & research         1262
2  2023-01-01  agriculture, farm animals & forestry           17
3  2023-01-01    animal care & products for animals         1639
4  2023-01-01                         arts & design         1417

In [7]:
new_data = {
    'date': grouped_df['date'],
    'cluster': grouped_df['Cluster_Keyword'],
    'keyword_sum': grouped_df['keyword_sum']
}

In [8]:
df = pd.DataFrame(new_data)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6902 entries, 0 to 6901
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         6902 non-null   object
 1   cluster      6902 non-null   object
 2   keyword_sum  6902 non-null   int64
dtypes: int64(1), object(2)
memory usage: 161.9+ KB

In [10]:
df.to_csv("~\Desktop\JOTFORM\Summer2023\Anomaly-Detection\data\grouped_data.csv")

In [11]:
unique_dates = df['date'].unique()

In [13]:
len(unique_dates)

203