In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("~\Desktop\JOTFORM\Summer2023\Anomaly-Detection\data\clustered_data.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185186 entries, 0 to 4185185
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   Unnamed: 0.1     int64
 2   date             object
 3   keyword          object
 4   keyword_sum      int64
 5   Cluster_Keyword  object
dtypes: int64(3), object(3)
memory usage: 191.6+ MB

In [4]:
data.head()

,Unnamed: 0,Unnamed: 0.1,date,keyword,keyword_sum,Cluster_Keyword
0,4185185,4290330,2023-01-01,scout cookie,5,fashion
1,289913,4288385,2023-01-01,payment method,365,finance
2,1482274,4288016,2023-01-01,sum,26,finance
3,3996302,4287198,2023-01-01,describes medical,5,beauty & personal care
4,3200627,4285615,2023-01-01,cords,9,telecommunications

In [7]:
data = data.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185186 entries, 0 to 4185185
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   date             object
 1   keyword          object
 2   keyword_sum      int64
 3   Cluster_Keyword  object
dtypes: int64(1), object(3)
memory usage: 127.7+ MB

In [10]:
data.head()

         date            keyword  keyword_sum         Cluster_Keyword
0  2023-01-01       scout cookie            5                 fashion
1  2023-01-01     payment method          365                 finance
2  2023-01-01                sum           26                 finance
3  2023-01-01  describes medical            5  beauty & personal care
4  2023-01-01              cords            9      telecommunications

In [11]:
data.to_csv("~\Desktop\JOTFORM\Summer2023\Anomaly-Detection\data\clustered_data.csv")